body {
  margin: 1em;
}

.docket-entry {
  display: flex;
}

.docket-entry p {
  display: inline-block;
  margin-bottom: 0;
}

.docket-entry .date {
  width: 105px;
}

.docket-entry .number {
  width: 60px;
}

.docket-entry .text {
  width: 920px;
}
